.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.mt-50{ margin-top: 50px !important; }
.mt-100{ margin-top: 100px !important; }

.mb-100{ margin-bottom: 100px !important; }

.pt-50{ padding-top: 50px !important;}
.page-title{
  padding: 0px 64px;
  overflow: hidden;
  flex-grow: 1;
  padding-top: 7px;
  padding-bottom: 4px; 
  background-color:#dae4ec;
  } 
  .paperBox{
    padding: 5%;
    margin-top: 25%;
  }
  .paperTile{
    padding: 5%;
    margin-top: 5%;
    cursor: pointer;
  }
  .paperTile:hover{
    background-color: #d1d8fb;
  }
  .paperTileAvatar{
    background-color: #3f51b5 !important;
  }
  .float-right{
    float: right;
  }
  .align-right{
    text-align: right;
  }
  .submitButton {
    margin: 4% 0% !important;
}
.nav-title{
  flex-grow: 1;
}
.background-white{
  background-color: white;
}
.is-white{
  color: white;
}
.text25{
  font-size: 25px !important;
}

@media screen and (max-width: 768px){
  .paperBox{
    padding: 5%;
    margin-top: 20%;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
